<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!--Maxinmal count of carbons -Default: 20-->
		<add key="max_carbon_count" value="20" />
		
		<!--Maxinmal count of carbons -Default: 1-->
		<add key="min_carbon_count" value="1" />
		
		<!--Generates multiple bonds -Default: true-->
		<add key="multiple_bonds" value="true" /><!--false or true-->
		
		<!--Generates multiple bonds -Default: true-->
		<add key="double_bonds" value="true" /><!--false or true-->
		
		<!--Maxinmal count of double bonds -Default: 0 (0 = unlimited)-->
		<add key="max_double_bond_count" value="0" />
		
		<!--Generates triple bonds -Default: true-->
		<add key="triple_bonds" value="true" /><!--false or true-->
		
		<!--Maxinmal count of triple bonds -Default: 0 (0 = unlimited)-->
		<add key="max_triple_bond_count" value="0" />

		<!--Don't generates more then one triple bonds next to each other -Default: false-->
		<add key="realistic_triple_bonds" value="false" /><!--false or true-->

	</appSettings>
</configuration>