<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!--Maxinmal value of carbons -Default: 20-->
		<add key="max_carbon_count" value="20" />

		<!--Makes generate more then one triple bonds -Default: false-->
		<add key="more_triple_bonds" value="false" /><!--false or true-->
	</appSettings>
</configuration>